@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* ****************************************************************** */

body {
	background-color: #f3e5d8;
}

h1 {
	font-size: 32px;
	margin: 30px 0;
}

h2 {
	color: #854632;
	font-size: 28px;
}

h1,
h2 {
	font-family: 'Young Serif';
}

p,
li {
	font-family: 'Outfit';
	font-size: 16px;
	font-weight: 400;
	color: #5f564d;
	line-height: 1.5;
}

.preparation-time-container li::marker {
	color: #7a284e;
}

li::marker {
	color: #854632;
}

ul,
ol {
	margin-left: 15px;
}

li {
	padding-left: 15px;
	margin-bottom: 10px;
}

.ingredients li {
	list-style-type: square;
}

.ingredients,
.instructions {
	margin-top: 20px;
}

.container {
	background-color: white;
	width: 750px;
	margin: 125px 0;
	border-radius: 15px;
	padding: 25px 0;
}

img {
	width: 90%;
	height: 350px;
	border-radius: 15px;
}

.recipe-section {
	display: flex;
	justify-content: center;
}

.recipe-image-container {
	display: flex;
	justify-content: center;
}

.preparation-time-container {
	background-color: #fff7fb;
	padding: 30px;
	margin: 20px 0;
	border-radius: 15px;
}

.image-container {
	padding: 15px 0;
}

.content-container {
	margin: 0 30px;
}

#prep-time {
	font-weight: 600;
	color: #7a284e;
	font-size: 20px;
	margin-bottom: 15px;
}

#nutrition {
	margin: 20px 0;
}

.bold {
	font-weight: 600;
}

hr {
	border-color: #e3ddd7;
	margin: 40px 0;
	opacity: 0.2;
}

table {
	font-family: 'Outfit';
	font-size: 16px;
	font-weight: 400;
	color: #5f564d;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td {
	border-bottom: 1px solid #e3ddd7;
	padding: 10px 0;
	padding-left: 30px;
}

.values {
	color: #854632;
	font-weight: 600;
}

@media (max-width: 600px) {
	body {
		background-color: white;
	}

	img {
		width: 100%;
		height: 200px;
		border-radius: 0;
	}

	.container {
		background-color: white;
		width: 100vw;
		margin: 0;
		padding: 0;
	}

	.content-container {
		margin: 0 25px;
	}

	.image-container {
		padding: 0;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	p,
	li {
		font-size: 12px;
	}

	.preparation-time-container {
		background-color: #fff7fb;
		padding: 20px;
		margin: 15px 0;
		border-radius: 15px;
	}
}
